# GGR274 Lecture 3: Introduction to Programming, Part 2

## Recap

Last lecture, we learned about:

- Five basic Python **data types**:

    | Data type | Description                      | Example   |
    |-----------|----------------------------------|-----------|
    | `int`     | Integers                         | `10`, `0`, `-3` |
    | `float`   | Non-integer numbers              | `10.3`, `-3.5` |
    | `bool`    | True/False                       | `True`, `False` |
    | `str`     | Text                             | `"January is cold"` |
    | `list`    | A sequence of data               | `["January", "is", "cold"]` |

Last lecture, we learned about:

- Operations we can perform on different data types
    - Arithmetic: `+`, `-`, `*`, `/`
    - Comparison: `==`, `!=`, `<`, `<=`, `>`, `>=`
    - Substring search: `in`
    - Boolean (logic): `and`, `or`, `not`
    - Indexing: `my_string[i]`, `my_list[i]`
        - **Note**: indexing starts at 0, not 1!

Last lecture, we learned about:

- Functions
    - `len`
    - `type`
    - `abs`
    - `sum`
- String methods
    - `str.upper()`
    - `str.lower()`
    - `str.replace(old, new)`
    - `str.split()`

## Learning Objectives

In this lecture, you will learn to:

- "Reset" Python in your notebook
- Avoid a common pitfall involving changing variables
- Use **if statements** and **for loops** to control how Python code gets executed
- Read in data from **files**
- Navigate through and find your course files on JupyterHub

## Jupyter Notebook Tips

If Python seems to be behaving strangely or you've run a bunch of cells and lost track of what you're doing, don't panic!

**Reset** Python your notebook by doing the following:

1. Go to *Kernel -> Restart & Clear Output*.
2. Python will restart, and all cell outputs will be removed, leaving only your code.
3. Then, select the cell you're currently working on, and go to *Cell -> Run All Above*.
   
   Or, if you want to re-run all cells, select *Cell -> Run All* instead.

### Common pitfall: changing variables and running cells out of order

Demo!

In [8]:
my_number = 10

In [ ]:
my_number

In [6]:
my_number = 20

In [ ]:
my_number = my_number + 100

my_number

**Avoiding this pitfall**:
    
1. Prefer making cells "self-contained": define and use variables in the same cell.
2. If you're using a variable, make sure it's been defined in an *earlier* cell.
3. After defining a variable, avoid *changing* the variable's value in a different cell. Treat the variable as "read-only" after the cell it's been defined in.

## If statements

So far, all of our code has been executed one line at a time, in top-down order:

In [ ]:
name = "Karen"
age = 18

print(f"Hello {name}! How old are you?")
print(f"Wow {name}, you're only {age} years old? Why do they let you teach?")
print(f"Goodbye {name}, nice to meet you. :)")

Sometimes, we want to run different code depending on the values of our variables.

An **if statement** is a kind of Python code that lets us *only execute some code if a specific condition is met*.

In [ ]:
name = "Karen"
age = 18

print(f"Hello {name}! How old are you?")

# NEW
if age < 20:
    print(f"Wow {name}, you're only {age} years old? Why do they let you teach?")

print(f"Goodbye {name}, nice to meet you. :)")

### If statement terminology

```python
if <condition>:
    <statement1>
    <statement2>
    ...
```

We call the expression between the `if` and the colon the **if condition**.

We call the statements indented on the line(s) after the colon the **if branch**.

**Warning**: indentation matters! Python uses indentation to determine what code is part of an if statement vs. what's after the if statement.

In [ ]:
if 3 > 5:
    print("Line 1")

print("Line 2")

vs.

In [13]:
if 3 > 5:
    print("Line 1")
    print("Line 2")

### `if`, `elif`, `else`

We can use an optional **else block** after the if block to execute code only when the if condition is False.

In [ ]:
name = "Karen"
age = 18

print(f"Hello {name}! How old are you?")

if age < 20:
    print(f"Wow {name}, you're only {age} years old? Why do they let you teach?")
else:
    print(f"Ah yes {name}, {age} is indeed a reasonable age to be teaching.")

print(f"Goodbye {name}, nice to meet you. :)")

Finally, we can include zero or more **elif blocks** between the if and else to express more than two cases.

In [ ]:
name = "Karen"
age = 18

print(f"Hello {name}! How old are you?")

if age < 20:
    print(f"Wow {name}, you're only {age} years old? Why do they let you teach?")
elif age > 100:
    print(f"Wow {name}, you're already {age} years old? Why do they let you teach?")
elif age == 57:
    print(f"Ah {name}, you are the perfect age and they should let you do whatever you want. ðŸ˜Ž")
else:
    print(f"Ah yes {name}, {age} is indeed a reasonable age to be teaching.")

print(f"Goodbye {name}, nice to meet you. :)")

## Exercise Break
When is a year a leap year?  A leap year is a year that has 366 days by adding February 29 to the calendar.  Leap years occur on years that are evenly divisible by 4, except years that are evenly divisible by 100 but not by 400. 

This question uses the modulus operator, `%`, which finds the integer remainder of the division between two integers.  For example, `x % 4 == 0` if `x` is evenly divisible by 4.  In other words `x % 4 == 0` is true if `x / 4` has no remainder.

Write condtional statements below so that the statement `f"{year} is a leap year"` will be printed if `year` is a leap year and `f"{year} is not a leap year"` will be printed if `year` is not a leap year.

Test your statements on the following years:
- 2025 is not a leap year
- 2024 is a leap year
- 2000 is a leap year
- 2100 is not a leap year

In [ ]:
year = 2024

# write your code here

## For loops

Recall that we can represent and operate on a collection of data using the `list` data type:

In [ ]:
numbers = [10, 20, 30, 40, 50]

sum(numbers)

Sometimes we want to execute a piece of code *once per element in a collection*.

We can do this using a **for loop**.

In [ ]:
numbers = [10, 20, 30, 40, 50]

for number in numbers:
    print(number)

### For loop terminology

```python
for <variable> in <collection>:
    <statement1>
    <statement2>
    ...
```

- We call `<variable>` the **(for) loop variable**. It refers to each element of the `<collection>`, one at a time.
- We say that the for loop **iterates over** the `<collection>`.

- We call the statements indented after the colon the **(for) loop body**.

- We call each repetition of the loop body an **iteration** of the loop.

### Using loops: compute and print

*Problem*: Given a list of names, compute the length of each name and display each result.

In [ ]:
names = ["Karen Reid", "Chunjiang Li", "Michael Moon"]

for name in names:
    name_length = len(name)
    print(f"The length of '{name}' is {name_length}.")

### Using loops: compute and save

*Problem*: Given a list of names, compute the length of each name and *store* each result (so that we can use these values later).

In [ ]:
names = ["Karen Reid", "Chunjiang Li", "Michael Moon"]

for name in names:
    name_length = len(name)
    # How do we "save" the length of the name?

To accomplish this, we will:

1. Create a new list variable to store the results.
2. In the loop body, use the (new!) `list.append` method to add each length to the new list.

In [ ]:
names = ["Karen Reid", "Chunjiang Li", "Michael Moon"]
lengths = []

for name in names:
    name_length = len(name)
    lengths.append(name_length)
    
lengths

### Using loops: filtering

We can combine a **for loop** and an **if statement** to iterate over a collection, decide what to do based on whether the current value satisifies a condition.

*Problem*: Given a list of names, compute the length of each name **that contains an `"e"`**, and store each result.

In [39]:
names = ["Karen Reid", "Chunjiang Li", "Michael Moon"]
lengths = []

for name in names:
    if "e" in name:
        name_length = len(name)
        lengths.append(name_length)
    
lengths

[10, 12]

## Exercise Break

1. Given a list of names, compute the length of each name that contains an `"a"` *and* a `"c"`, and store each result.
2. Given a list of names, compute the length of each name and store each result *that is $\geq 11$*.

In [ ]:
names = ["Karen Reid", "Chunjiang Li", "Michael Moon"]

# Write your code for Question 1 here.


# Write your code for Question 2 here.

len(names[0])

## Reading data from files

So far, we've been working entirely with data we defined inside our notebook.

But in practice, we'll be reading in large quantities of data from files.
Let's learn how to do this in JupyterHub and Python!

### Running example: Canada's Electoral Districts

Today we'll work with a small dataset of Canada's 338 electoral districts, sourced from [Elections Canada](https://www.elections.ca/content.aspx?section=res&dir=cir/list&document=index338&lang=e#list).

We've downloaded this data in a file called `ED-Canada_2016.csv` and added it to course website in the same folder as this notebook.

Let's take a look now. The easiest way to get to the file is to go to **File -> Open...** in the menu. Demo time!

## CSV files

`ED-Canada_2016.csv` is a type of file called a **comma-separated values (CSV)** file, which is a common way of storing tabular data.

In a CSV file:

- Each *line* of the file represents one row
- Within one line, each column entry is separated by a *comma*

### Reading file data: `open` and `readlines`

Now that we've seen the file, let's learn how to read the file's contents into Python.

Formally, we do this in two steps:

1. **Open** the file.
2. **Read** the file data into Python, line by line.

In [ ]:
# Step 1
district_file = open("ED-Canada_2016.csv", encoding="utf-8")

district_file

In [ ]:
district_data = district_file.readlines()

district_data

### Data processing

Let's look at just the first line from the file:

In [ ]:
district_data[0]

There's two annoying parts about this line:

1. It's a single string, but really stores two pieces of data.
2. There's a strange `\n` at the end of the string, representing a *line break*.

**Goal**: take the list `district_data` and extract just the population counts, converting to `int`. We'll develop this one together!

In [42]:
populations = []

for line in district_data:
    entries = line.split(",")
    
    population_entry = entries[1].strip()
    
    population_int = int(population_entry)
    
    populations.append(population_int)
    
populations

[86494,
 74116,
 77680,
 27197,
 86553,
 85697,
 81979,
 36615,
 36094,
 34168,
 36030,
 71913,
 71962,
 80590,
 92301,
 94610,
 96255,
 83465,
 86498,
 91830,
 72148,
 82026,
 77791,
 82292,
 83303,
 79943,
 60378,
 57405,
 92666,
 65287,
 79363,
 68673,
 87787,
 103491,
 117447,
 101373,
 95781,
 71897,
 108746,
 96029,
 94588,
 114966,
 117343,
 100371,
 101840,
 99787,
 101032,
 103457,
 107582,
 84918,
 107254,
 93674,
 97887,
 81639,
 105459,
 112866,
 103397,
 75850,
 107464,
 106496,
 103592,
 105419,
 104136,
 89818,
 106336,
 105496,
 104911,
 108579,
 106766,
 113815,
 111835,
 108003,
 106583,
 113528,
 108703,
 103346,
 117238,
 92518,
 87233,
 117652,
 97811,
 107981,
 95527,
 103320,
 104974,
 102088,
 110750,
 108587,
 115531,
 115313,
 97143,
 116066,
 107242,
 102346,
 112156,
 110677,
 101750,
 102693,
 111190,
 98828,
 113212,
 110264,
 112826,
 111139,
 111176,
 119227,
 111575,
 110515,
 114659,
 111867,
 119677,
 79483,
 115227,
 109286,
 100788,
 109735,
 109468,
 102270,
 122000,
 118180,
 121188,
 130000,
 130296,
 107679,
 123180,
 115463,
 109619,
 108473,
 94579,
 110076,
 102508,
 128237,
 130872,
 114395,
 115052,
 125442,
 118022,
 129081,
 118040,
 111065,
 109975,
 131794,
 109652,
 113956,
 100103,
 107848,
 104877,
 113024,
 94333,
 106570,
 110960,
 62556,
 131995,
 117543,
 105258,
 100709,
 105309,
 105331,
 101630,
 100546,
 119467,
 125362,
 126110,
 126064,
 99078,
 123318,
 114093,
 124849,
 120205,
 122560,
 117444,
 118240,
 118301,
 119110,
 117418,
 109067,
 136292,
 90838,
 93772,
 88813,
 112412,
 120923,
 129078,
 126764,
 118038,
 128281,
 121058,
 111508,
 111837,
 113790,
 108805,
 94398,
 107908,
 118176,
 112947,
 103495,
 110177,
 102918,
 111691,
 107900,
 105337,
 80371,
 105542,
 112603,
 102386,
 98800,
 102275,
 110278,
 129944,
 111332,
 115506,
 103320,
 91532,
 112719,
 82805,
 82651,
 83257,
 103805,
 106875,
 104311,
 105228,
 110134,
 120981,
 128377,
 118801,
 117429,
 122988,
 104319,
 104010,
 116686,
 108037,
 88170,
 82574,
 87027,
 87527,
 92738,
 84077,
 97354,
 99946,
 89818,
 94778,
 85949,
 95676,
 99678,
 93053,
 73506,
 68353,
 70891,
 80662,
 79733,
 79625,
 92426,
 76017,
 84153,
 82946,
 82663,
 83711,
 72635,
 71031,
 135762,
 110223,
 115022,
 119176,
 122023,
 111830,
 112087,
 121844,
 115795,
 131823,
 147520,
 121392,
 135730,
 109941,
 112287,
 121048,
 118561,
 120863,
 106066,
 121869,
 158749,
 113227,
 110230,
 117327,
 108451,
 117394,
 106896,
 109965,
 119019,
 128786,
 121313,
 122193,
 120784,
 101979,
 101814,
 102486,
 111973,
 108907,
 110293,
 100126,
 117640,
 123576,
 114647,
 108052,
 103064,
 116958,
 124358,
 119388,
 112354,
 117017,
 94825,
 122710,
 115340,
 124605,
 115344,
 101101,
 110817,
 110995,
 98396,
 120834,
 107339,
 88920,
 114695,
 104051,
 99913,
 120172,
 114605,
 116443,
 115724,
 103456,
 105466,
 104870,
 105608,
 102927,
 117133,
 119113,
 35874,
 41786,
 35944]

### Now we can compute!

In [41]:
num_populations = len(populations)
total_population = sum(populations)
max_population = max(populations)
min_population = min(populations)
avg_population = total_population / num_populations

print(f"Number of population entries: {num_populations}.")
print(f"Sum of populations: {total_population}.")
print(f"Maximum district population: {max_population}.")
print(f"Minimum district population: {min_population}.")
print(f"Average district population: {avg_population}.")

Number of population entries: 338.
Sum of populations: 35151728.
Maximum district population: 158749.
Minimum district population: 27197.
Average district population: 103999.19526627219.

## Dictionaries
It's kind of worrying to have just a list of numbers without any label for what the numbers mean. There is a Python data structure that is more useful for associating labels with values called a dictionary. As you will see it is similar to a list, but instead of a sequential index to access values, we think of a dictionary as containing _key_ _value_ pairs. 

Using the `district_data` lines that we read from `ED-Canada_2016.csv`, let's see how we can build a dictionary with this data instead of a list of populations:

In [ ]:
# create an empty dictionary
district_populations_dict = {}
for line in district_data:
    entries = line.split(",")
    
    district_name = entries[0].strip()
    population_entry = entries[1].strip()
    population_int = int(population_entry)
    
    district_populations_dict[district_name] = population_int

print(district_populations_dict)

### Now let's use the dictionary to compute the same values as above

In [ ]:
# These are not great variable names, but I wante to create new names rather
# than repeat the ones from above to avoid confusion.
num_districts = len(district_populations_dict)
total_population_dict = sum(district_populations_dict.values())
max_population_dict = max(district_populations_dict.values())
min_population_dict = min(district_populations_dict.values())
avg_population_dict = total_population_dict / num_districts

print(f"Number of population entries: {num_districts}.")
print(f"Sum of populations: {total_population_dict}.")
print(f"Maximum district population: {max_population_dict}.")
print(f"Minimum district population: {min_population_dict}.")
print(f"Average district population: {avg_population_dict}.")

### Dictionary Keys
We can also loop over dictionary elements.  In the example below, the variable district will get the value of another key in the dictionary each iteration of the loop.  We could also have used `district_populations_dict.keys()` instead of `district_populations_dict` to get the list of keys.

In [ ]:
for district in district_populations_dict:
    print(district)

## Exercise Break

Let's put some of this together.  Print the following message for each district that has `Toronto` in its name.  Use `district_populations_dict` that was defined above.
`f"{name} has population {district_populations[name]}`

In English what we want to do is check each dictionary key to see if the string `Toronto` is in the key. If it is, then we will print the message.

In [ ]:
# write your code here

## Bridge to `pandas`

### From lists to data frames

Python lists are very good at storing *one-dimensional data* (one "column" of data).

But in practice, we don't just want to store or compute on one columnâ€”we want to compute on an entire table, containing multiple columns!

While it is possible to do this in Python lists, it's more cumbersome to do so. It's also possible to do this with Python dictionaries, but we'd have to do all the work.

So in practice, we use a new data type called `DataFrame`, which is used to store (two-dimensional) tabular data.

### Importing `pandas`

The `DataFrame` type doesn't come with base Python, but instead as part of the `pandas` library for doing data science in Python.

To use a library in Python, we need to **import** it into our code.

You are going to start to see a lot of conventions. For example, you will almost always see pandas imported as below. There is nothing magical about `pd`, but when we all use it as a short-hand for `pandas` it is easy to remember what it means.

In [10]:
import pandas as pd

This line of code loads the `pandas` library, calling it `pd`.

Now we can use the `pd.read_csv` function to read in this data!

In [ ]:
district_df = pd.read_csv("ED-Canada_2016.csv", header=None)
district_df

## Preview: Creating your own data frame

Next lecture, you'll work with data frames in earnest.
Some of the examples you'll look at will involve creating small data frames "by hand", since they're easier to conceptualize than large data frames.

Creating a data frame manually consists of two steps.

### Step 1: Create a dictionary of your data

A **dictionary** is another type of Python collection that lets you created associated pairs of data.
For us, a dictionary can map *column names* (strings) to *column values* (lists) in a table.

For example:

In [ ]:
my_data = {
    "Name": ["Karen Reid", "Chunjiang Li", "Michael Moon"],
    "Age": [101, 18, 19]
}

my_data

### Step 2: Turn the dictionary into a data frame

Now, we can turn that dictionary into a pandas `DataFrame`:

In [ ]:
my_data_frame = pd.DataFrame(my_data)

my_data_frame

Of course, if we wanted to we could combine the two steps into one larger statement. That's more convenient, but a bit less explicit about what's going on. Make sure you understand the previous two steps separately, and then study how they're combined below!

In [ ]:
my_data_frame2 = pd.DataFrame({
    "Name": ["Karen Reid", "Chunjiang Li", "Michael Moon"],
    "Age": [101, 18, 19]
})

my_data_frame2